{% extends "base.html" %}

{% block content %}

    <p>
        <a href="{% url 'homepage:home' %}">Home</a>
        &nbsp;/&nbsp;
        <a href="{% url 'catalog:home' %}">Каталог</a>
        &nbsp;/&nbsp;
        <a>{{ item.name }}</a>
    </p>

    <img src="{{ item.main_image.upload.url }}" alt="{{ item.name }}" width="80%">
    <p>
        <a href="{% url 'catalog:item_gallery' item.id %}">Галлерея<a>
    </p>

    <h1>{{ item.name }}</h1>
    <p>
        {{ item.text|safe }}
    </p>
    <p class="text-muted">Категория: {{ item.category.name }}</p>
    <p class="text-muted">
        Теги:
        <br>
        {% for tag in item.tags.all %}
            {{ tag }}&nbsp;&nbsp;
        {% endfor %}
    </p>

{% endblock %}
