{% extends "base.html" %}

{% load static %}

{% block content %}

    <p>
        <a href="{% url 'homepage:home' %}">Home</a>
        &nbsp;/&nbsp;
        <a href="{% url 'catalog:home' %}">Каталог</a>
        &nbsp;/&nbsp;
        <a>{{ item.name }}</a>
    </p>

    <img src="{{ item.main_image.upload.url }}" alt="{{ item.name }}" width="80%">
    {% for image in item.gallery.all %}
        <img src="{{ image.upload.url }}" width="80%">
        <br><br>
    {% endfor %}

    <h1>{{ item.name }}</h1>
    <p>
        {{ item.text|safe }}
    </p>
    <p class="text-muted">Категория: {{ item.category.name }}</p>
    <p class="text-muted">
        Теги:
        <br>
        {% for tag in item.tags.all %}
            {{ tag }}&nbsp;&nbsp;
        {% endfor %}
    </p>

    <hr>

    <h5>Средняя оценка: {{ average }} (по данным {{ total }} пользователей)</h5>

    <h6>Оставьте свою оценку</h6>
    <form method="post">
        {% csrf_token %}
        {{ rating_form }}
        <br>
        <div id="stars"></div>
        <br>
        <input class="btn btn-main-color" type="submit" value="Оставить отзыв">
    </form>

    <script>
        let ratingField = document.getElementById('{{ rating_form.score.auto_id }}')

        document.getElementById('stars').innerHTML = ''
        for (let step = 0; step < ratingField.value; step++) {
            var img = document.createElement('img')
            img.src = "https://static4.depositphotos.com/1001003/335/i/600/depositphotos_3350007-stock-photo-3d-star.jpg"
            img.width = 40
            document.getElementById('stars').appendChild(img)
        }

        ratingField.onchange = function() {
            document.getElementById('stars').innerHTML = ''
            for (let step = 0; step < ratingField.value; step++) {
                var img = document.createElement('img')
                img.src = "https://static4.depositphotos.com/1001003/335/i/600/depositphotos_3350007-stock-photo-3d-star.jpg"
                img.width = 40
                document.getElementById('stars').appendChild(img)
            }
        }
    </script>

{% endblock %}
