{% load static %}

<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'homepage:home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="{% static 'img/logo.png' %}" alt="Kitty Sneakers Logo" width="40">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2 link-secondary">&nbsp;&nbsp;&nbsp;</a></li>

        {% with request.resolver_match.view_name as view_name %}
            {% if view_name == 'homepage:home' %}
            <li><a href="{% url 'homepage:home' %}" class="nav-link px-2 link-secondary">Home</a></li>
            {% else %}
            <li><a href="{% url 'homepage:home' %}" class="nav-link px-2 link-dark link-main">Home</a></li>
            {% endif %}

            {% if view_name == 'about:home' %}
            <li><a href="{% url 'about:home' %}" class="nav-link px-2 link-secondary">О нас</a></li>
            {% else %}
            <li><a href="{% url 'about:home' %}" class="nav-link px-2 link-dark link-main">О нас</a></li>
            {% endif %}

            {% if view_name == 'catalog:home' or view_name == 'catalog:item' or view_name == 'catalog:item_gallery' %}
            <li><a href="{% url 'catalog:home' %}" class="nav-link px-2 link-secondary">Каталог</a></li>
            {% else %}
            <li><a href="{% url 'catalog:home' %}" class="nav-link px-2 link-dark link-main">Каталог</a></li>
            {% endif %}

            {% if view_name == 'feedback:feedback' %}
            <li><a href="{% url 'feedback:feedback' %}" class="nav-link px-2 link-secondary">Отправить отзыв</a></li>
            {% else %}
            <li><a href="{% url 'feedback:feedback' %}" class="nav-link px-2 link-dark link-main">Отправить отзыв</a></li>
            {% endif %}

            {% if view_name == 'users:user_list' or view_name == 'users:user_detail'%}
            <li><a href="{% url 'users:user_list' %}" class="nav-link px-2 link-secondary">Пользователи</a></li>
            {% else %}
            <li><a href="{% url 'users:user_list' %}" class="nav-link px-2 link-dark link-main">Пользователи</a></li>
            {% endif %}
        {% endwith %}
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Поиск по сайту..." aria-label="Search">
        </form>

        <div class="text-end">
            {% if not user.is_authenticated %}
            <button type="button" class="btn btn-main-color-outlined" onclick="window.location.href = `{% url 'users:login' %}`">Войти</button>
            <button type="button" class="btn btn-main-color" onclick="window.location.href = `{% url 'users:signup' %}`">Зарегистрироваться</button>
            {% else %}
            <button type="button" class="btn btn-main-color" onclick="window.location.href = `{% url 'users:profile' %}`">Профиль</button>
            <button type="button" class="btn btn-main-color-outlined" onclick="window.location.href = `{% url 'users:logout' %}`">Выйти</button>
            {% endif %}
        </div>
    </div>
    <div class="container birthday">
        <p>Сегодня день рождения у этих ребят:</p>
        <ol>
        {% for birthday in birthday_today %}
          <li>{{ birthday.first_name }} {{ birthday.email }}</li>
        {% endfor %}
      </ol>
    </div>
</header>