<div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
        <img src="{{ item.main_image.get_img.url }}" class="card-img-top" alt="{{ item.name }}">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.text|safe|truncatewords:10 }}</p>
            <div class="mt-auto">
                <p>
                    <span class="text-muted">
                        {{ item.category.name }}
                    </span>
                    <br>
                    {% for tag in item.tags.all %}
                        <span class="text-muted">
                            {{ tag.name }}
                        </span>
                        &nbsp;&nbsp;
                    {% endfor %}
                </p>
                <a href="{% url 'catalog:item' item.id %}" class="btn btn-main-color">Посмотреть</a>
            </div>
        </div>
    </div>
</div>
