{% extends "base.html" %}

{% load static %}

{% block content %}

    <img src="{% static 'img/logo.png' %}" width="200">
    <h1>Kitty Sneakers</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et nunc luctus, feugiat quam a, aliquam mauris. Maecenas et ante leo. Vivamus sed hendrerit mauris. Aliquam maximus ut arcu a pretium. Nam scelerisque erat ligula. Fusce eget nulla bibendum mauris congue ornare. Morbi placerat fermentum ornare. Praesent sed metus nulla. Suspendisse non sollicitudin urna, in rhoncus lorem. Curabitur id est a felis rhoncus auctor in eu libero. Fusce vel sapien malesuada, viverra est sed, tincidunt lacus. In enim tellus, viverra vitae ligula eget, ornare tempus tortor. Phasellus sagittis velit vitae metus laoreet cursus. Sed blandit eros non convallis euismod.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et nunc luctus, feugiat quam a, aliquam mauris. Maecenas et ante leo. Vivamus sed hendrerit mauris. Aliquam maximus ut arcu a pretium. Nam scelerisque erat ligula. Fusce eget nulla bibendum mauris congue ornare. Morbi placerat fermentum ornare. Praesent sed metus nulla. Suspendisse non sollicitudin urna, in rhoncus lorem. Curabitur id est a felis rhoncus auctor in eu libero. Fusce vel sapien malesuada, viverra est sed, tincidunt lacus. In enim tellus, viverra vitae ligula eget, ornare tempus tortor. Phasellus sagittis velit vitae metus laoreet cursus. Sed blandit eros non convallis euismod.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et nunc luctus, feugiat quam a, aliquam mauris. Maecenas et ante leo. Vivamus sed hendrerit mauris. Aliquam maximus ut arcu a pretium. Nam scelerisque erat ligula. Fusce eget nulla bibendum mauris congue ornare. Morbi placerat fermentum ornare. Praesent sed metus nulla. Suspendisse non sollicitudin urna, in rhoncus lorem. Curabitur id est a felis rhoncus auctor in eu libero. Fusce vel sapien malesuada, viverra est sed, tincidunt lacus. In enim tellus, viverra vitae ligula eget, ornare tempus tortor. Phasellus sagittis velit vitae metus laoreet cursus. Sed blandit eros non convallis euismod.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et nunc luctus, feugiat quam a, aliquam mauris. Maecenas et ante leo. Vivamus sed hendrerit mauris. Aliquam maximus ut arcu a pretium. Nam scelerisque erat ligula. Fusce eget nulla bibendum mauris congue ornare. Morbi placerat fermentum ornare. Praesent sed metus nulla. Suspendisse non sollicitudin urna, in rhoncus lorem. Curabitur id est a felis rhoncus auctor in eu libero. Fusce vel sapien malesuada, viverra est sed, tincidunt lacus. In enim tellus, viverra vitae ligula eget, ornare tempus tortor. Phasellus sagittis velit vitae metus laoreet cursus. Sed blandit eros non convallis euismod.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et nunc luctus, feugiat quam a, aliquam mauris. Maecenas et ante leo. Vivamus sed hendrerit mauris. Aliquam maximus ut arcu a pretium. Nam scelerisque erat ligula. Fusce eget nulla bibendum mauris congue ornare. Morbi placerat fermentum ornare. Praesent sed metus nulla. Suspendisse non sollicitudin urna, in rhoncus lorem. Curabitur id est a felis rhoncus auctor in eu libero. Fusce vel sapien malesuada, viverra est sed, tincidunt lacus. In enim tellus, viverra vitae ligula eget, ornare tempus tortor. Phasellus sagittis velit vitae metus laoreet cursus. Sed blandit eros non convallis euismod.
    </p>
    <p>
        Мы продаем топовые кроссовочки. <a href="{% url 'catalog:home' %}">Каталог</a>.
    </p>

{% endblock %}
